.button {
    display: inline-block;
    line-height: 3em;
    padding: 0 1em;
    background: #34343E;
    border-radius: 0.135em;
    background-clip: padding-box;
    color:#919191;
    text-decoration: none;
    margin-right: 1em;
    margin-top: 1em;
    border-color: #919191 !important
  }

  .button-sm {
    display: inline-block;
    line-height: 1.5em;
    padding: 0 1em;
    background: rgb(79, 79, 94);
    border-radius: 0.135em;
    background-clip: padding-box;
    color:#919191;
    text-decoration: none;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-color: #919191 !important
  }