<h3>{{title}}</h3>
<div class="form-style-8">
  <form [formGroup]="form" (ngSubmit)="save()">
          <label for="id"
          [class.active]="pilot.id">Id</label>
         <input id="id" type="text" 
           formControlName="id" />

            <label for="name"
          [class.active]="pilot.name"
          data-error="Name is required and needs to be not longer than 50 chars">Name</label>
        <input id="name" type="text" class="validate"
               formControlName="name"
               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid" />
    
          <label for="surname"
          [class.active]="pilot.surname"
          data-error="Surname is required and needs to be not longer than 50 chars">Surname</label>
        <input id="surname" type="text" class="validate"
               formControlName="surname"
               [class.invalid]="form.controls['surname'].touched && !form.controls['surname'].valid" />
        
      
        <label for="birthdate"
               [class.active]="pilot.birthdate"
               data-error="Birthdate is required and needs to be earlier than today">Birthdate</label>
        <input id="birthdate" type="date" class="validate"
               formControlName="birthdate"
               [class.invalid]="form.controls['birthdate'].touched && !form.controls['birthdate'].valid" />
        
     
        <label for="experience"
               [class.active]="pilot.experience"
               data-error="Experience is required">Experience</label>
        <input id="experience" type="number" class="validate"
               formControlName="experience"
               [class.invalid]="form.controls['experience'].touched && !form.controls['experience'].valid" />
     
    <button class="button" type="submit"
            [disabled]="!form.valid">
      Submit
    </button>
    
  </form>
</div>
