<h3>
  Departures
</h3>
<table>
  <thead>
    <tr>
      <th data-field="name">Id</th>
      <th data-field="name">Flight Id</th>
      <th data-field="name">Departure Date</th>
      <th data-field="name">Crew Id</th>
      <th data-field="name">Plane Id</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departure of departures">
      <td>{{ departure?.id }}</td>
      <td>{{ departure?.flightId }}</td>
      <td>{{ departure?.departureDate | date:"MM/dd/yy" }}</td>
      <td>{{ departure?.crewItem.id }}</td>
      <td>{{ departure?.planeItem.id }}</td>
      
      
      <td>
        <a  class="button-sm" routerLink="/departures/details/{{departure?.id}}" routerLinkActive="active">Details</a>
       </td>
      <td>
        <a  class="button-sm" routerLink="/departures/{{departure?.id}}" routerLinkActive="active">Update</a>
      </td>
      <td>
        <a  class="button-sm" (click)="deleteDeparture(departure)" >Delete</a>
      </td>
    </tr>
  </tbody>
</table>


<a class="button" routerLink="/departures/new">Add departure</a>