<h3>{{title}}</h3>
<div class="form-style-8">
  <form [formGroup]="form" (ngSubmit)="save()">
          <label for="id"
          [class.active]="stewardess.id">Id</label>
         <input id="id" type="text" 
           formControlName="id" />

            <label for="name"
          [class.active]="stewardess.name"
          data-error="Name is required and needs to be not longer than 50 chars">Name</label>
        <input id="name" type="text" class="validate"
               formControlName="name"
               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid" />
    
          <label for="surname"
          [class.active]="stewardess.surname"
          data-error="Surname is required and needs to be not longer than 50 chars">Surname</label>
        <input id="surname" type="text" class="validate"
               formControlName="surname"
               [class.invalid]="form.controls['surname'].touched && !form.controls['surname'].valid" />
        
      
        <label for="birthdate"
               [class.active]="stewardess.birthdate"
               data-error="Birthdate is required and needs to be earlier than today">Birthdate</label>
        <input id="birthdate" type="date" class="validate"
               formControlName="birthdate"
               [class.invalid]="form.controls['birthdate'].touched && !form.controls['birthdate'].valid" />
        
     
        <label for="crewId"
               [class.active]="stewardess.crewId"
               data-error="Crew Id is required">Crew Id</label>
        <input id="crewId" type="number" class="validate"
               formControlName="crewId"
               [class.invalid]="form.controls['crewId'].touched && !form.controls['crewId'].valid" />
     
    <button class="button" type="submit"
            [disabled]="!form.valid">
      Submit
    </button>
    
  </form>
 
</div>
<a class="button" (click)="gotoStewardesses()">Go back to list</a>