

     <nav>
       <ul>
         <li><a routerLink="/pilots" routerLinkActive="active">Pilots</a></li>
         <li><a routerLink="/planes" routerLinkActive="active">Planes</a></li>
         <li><a routerLink="/types" routerLinkActive="active">Types</a></li>
         <li><a routerLink="/flights" routerLinkActive="active">Flights</a></li>
         <li><a routerLink="/crews" routerLinkActive="active">Crews</a></li>
         <li><a routerLink="/departures" routerLinkActive="active">Departures</a></li>
         <li><a routerLink="/stewardesses" routerLinkActive="active">Stewardesses</a></li>
         <li class="last"><a routerLink="/tickets" routerLinkActive="active">Tickets</a></li>
       </ul>
    </nav>
